*{
    padding: 0px;
    margin: 0px;
}
#navbar{
    width: 100%;
    height: 100px;
}
#container{
    width: 90%;
    height: auto;
   
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    margin: auto;

}
#container_2{
    width: 90%;
    height: auto; 
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    margin: auto;
}
.heading {
    width: 90%;
    margin-left: 30px;
    margin-top: 10%;
    position: relative;
}
.heading h2{
    color: #313131;
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 35px;
    position: relative;
    line-height: 1.4;
    width: 90%;
    height: auto;
    display: flex;
    text-align: center;
    margin-left:10px;
    margin: auto;
    
}


.first_div{
    width: 90%;
    gap: 10px;
    text-align: center;
    padding-top: 30px;
    margin: auto;
   
}
.first_div>img{
    width: 100%;
}

#footer{
    width: 100%;
    height: 100px;
    border: 1px solid red;
}
.above{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 50%;
    margin-top: -25px;
    z-index: 10px;
    position: relative;
    background-color: white; 
}

.main_div:hover{
    margin-top: -10px;

}
.above>div>h4{
    color: #313131;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    line-height: 1.5;
    font-family: inherit;
    margin-left: 10px;
}

.above>div>p{
    color: #717171;
    font-size: 14px;
    margin-left: 12px;
}