/* *{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
} */
#container{
    height:500px;
    width:70%;
    border:1px solid rgb(160, 156, 156);
    border-radius: 5px;
}
#main{
    
    margin:auto;
    height:auto;
    width:80%;
}
hr{
    width:90%;
}
#container>h3{
    margin-left: 5%;
}
#cont{
    text-align: center;
    height:400px;
    width:25%;
    border:1px solid rgb(160, 156, 156);
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
#box{
    display:flex;
    justify-content: space-between;
}
#container>img{
    margin-left:8%;
    margin-top:-2%;
    height:50px;
    width:30%;
}
h5{
    margin-left:8%;
    color:grey
}
ol{
    font-weight: bold;
    margin-top:3%;
}
#cont>button{
    background-color: rgb(185, 14, 85);
    border:none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    height:30px;
    width:80%;
    margin-top:5%;
    border-radius: 5px;
}
a{
    color:black;
    text-decoration: none;
}
#heading{
    text-align: center;
    height:100px;
    width:100%;
    border:1px solid teal;
    background-color:black;
}
#heading>img{
    height:100px;
    width:300px;
}
#cont>input{
    margin-bottom:5%;
    border-radius: 5px;
    height:20px;
}
